<footer class="footer">
  <section class="menu-link">
    <nav>
      <ul>
        <li><a
          title="Ir a la home de Adalab"
          target="_blank"
          href="https://adalab.es/">
            Articles
        </a></li>
        <li><a
          title="Ir a la home de Adalab"
          target="_blank"
          href="https://adalab.es/">
          books
          </a></li>
        <li><a
          title="Ir a la home de Adalab"
          target="_blank"
          href="https://adalab.es/">
          Events
        </a></li>
        <li><a
          title="Ir a la home de Adalab"
          target="_blank"
          href="https://adalab.es/"></a>
          Reasons
        </a></li>
        
        <li><a
          title="Ir a la home de Adalab"
          target="_blank"
          href="https://adalab.es/">
          Tips
        </a></li>
      </ul>
    </nav>
  </section>
  <section class="social-media">
    <nav>
      <ul>
       <li><a
          title="Ir a la home de Adalab"
          target="_blank"
          href="https://adalab.es/"
          twitter>
        </a></li>
        <li></li><a title="Ir a la home de Adalab"
          target="_blank"
          href="https://adalab.es/"></a>
          instagram
        </a></li>
        
        <li></li><a title="Ir a la home de Adalab"
          target="_blank"
          href="https://adalab.es/">
          mastodon.social
        </a></li>
      </ul>
    </nav>
  </section>
  <section class="copy">
    <p>&copy2021</p>
    <p class="foot">we 🧡 components</p>
  </section>
</footer>
