<header class="header">
  <div class="hamburguer">
    <a class="img" title="Ir a la home de adalab" href="https://adalab.es/"
      ><img src="./assets/images/ico-menu.jpg" alt="menú hamburguesa"
    /></a>
  </div>
  <div class="box-title">
    <!--falta que solo se pongan en dos lineas diferentes-->
    <h1 class="title">Anonymous proxy</h1>
  </div>
  <section>
    <p class="subtitle">In hac habitasse platea dictumst.</p>
  </section>
  <section class="button_img">
    <div class="button">
      <!--No entiendo pq no me dirige hacia el main cuando está bien linkeado-->
      <a title="Ir a 3 reasons to purchase" href="./index.html#main">
        <img
          class="img"
          title="Ir a 3 reasons to purchase"
          src="./assets/images/ico-scroll-down.jpg"
          alt="Flecha hacia bajo"
      /></a>
    </div>
  </section>
</header>
