<main class="main">
  <section class="section-1">
    <article class="article">
      <p class="text"><small>Insomnia tips</small></p>
      <h2 class="title">Looking through a window</h2>
      <p class="text2">
        Donec accumsan, nulla ut voluptat portittor, quam odio tempus felis, at
        luctus ex dim nec lectus. vivamus semper sodales rutrum.
      </p>
    </article>

    <div class="button"><p>Go</p></div>
  </section>
  <section class="section-2">
    <h2 class="title">3 reasons to purchase</h2>
    <article class="article1">
      <h3 class="title2">Ut sed metus</h3>
      <p class="text3">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="article1">
      <h3 class="title2">Curabitur ac erat</h3>
      <p class="text3">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="article1">
      <h3 class="title2">Morbi dictum</h3>
      <p class="text3">Aliquam un dolor et dolor tincidunt.</p>
    </article>
    <div class="box_button"><p class="button2">More reason</p></div>
  </section>
</main>
