<main class="main">
  <section class="section">
    <!--caja roja-->
    <article class="section-1">
      <!--caja blanca-->
      <p class="text"><small>Insomnia tips</small></p>
      <h2 class="title">Looking through a window</h2>
      <p class="text2">
        Donec accumsan, nulla ut voluptat portittor, quam odio tempus felis, at
        luctus ex dim nec lectus. vivamus semper sodales rutrum.
      </p>
    </article>
    <div class="button"><p>Go</p></div>
    <!--boton go-->
  </section>
  <section>
    <!--caja azul-->
    <article>
      <!--caja texto-->
      <h2>Looking through a window</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique
        possimus explicabo, voluptatum sunt facilis aperiam iure, tempora
        architecto tempore modi ullam repudiandae atque soluta! Consequatur quam
        cum ut saepe nihil.
      </p>
    </article>
    <article>
      <!--caja texto-->
      <h2>Looking through a window</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique
        possimus explicabo, voluptatum sunt facilis aperiam iure, tempora
        architecto tempore modi ullam repudiandae atque soluta! Consequatur quam
        cum ut saepe nihil.
      </p>
    </article>
    <article>
      <!--caja texto-->
      <h2>Looking through a window</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique
        possimus explicabo, voluptatum sunt facilis aperiam iure, tempora
        architecto tempore modi ullam repudiandae atque soluta! Consequatur quam
        cum ut saepe nihil.
      </p>
    </article>
    <div><p>More reason</p></div>
    <!--boton more reason-->
  </section>
</main>
