.footer {
  font-family: $fonttitle2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #304268;
  color: #fff;
  line-height: $line_spacing_main;
  text-transform: uppercase;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  @media (min-width: 1200px) {
    justify-content: center;
  }
  .menu-link {
    margin: 6vh 0vw 5vw 0vh;
    @media (min-width: 768px) {
      text-align: start;
      width: 210px;
    }
  }
  .social-media {
    margin: 2vh 0vw 5vw 0vh;
    @media (min-width: 768px) {
      text-align: start;
      width: 210px;
    }
  }
  .copy {
    text-transform: none;
    font-size: 14px;
    @media (min-width: 768px) {
      text-align: start;
      width: 210px;
    }

    .foot {
      margin-bottom: 45px;
    }
  }
}
