.main {
  text-align: start;
  .section-1 {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 15px;
    @media (min-width: 768px) {
      margin: 0 39px;
      @media (min-width: 1200px) {
        margin: 0 275px;
      }
    }

    .article {
      .text {
        display: flex;
        align-items: center;
        margin-top: 30px;
        color: #8ccbea;
        font-size: 14px;
        height: 30px;
      }
    }

    .title {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
      text-transform: capitalize;
      height: 60px;
      @media (min-width: 768px) {
        font-size: 26px;
      }
      @media (min-width: 1200px) {
        font-size: 32px;
        line-height: 45px;
      }
    }

    .text2 {
      color: #4a4a4a;
      margin-top: 15px;
      font-size: 18px;
      line-height: $line_spacing_main;
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid 2px #f26002;
    color: #f26002;
    border-radius: 22.5px;
    width: 76px;
    height: 45px;
    font-size: 20px;
    line-height: $line_spacing_button;
    font-weight: 500;
    margin: 30px 0 45px 0;
    &:hover {
      color: rgb(247, 202, 4);
      transition: color ease 1s;
    }
    @media (min-width: 768px) {
      width: 91px;
      margin-bottom: 60px;
    }
    @media (min-width: 1200px) {
      width: 160px;
    }
  }
}

.section-2 {
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: center;

  .title {
    grid-column: 1/4;
    font-weight: bold;
    font-size: 24px;
    line-height: $line_spacing_main;
    text-transform: capitalize;
    margin: 30px 15px 45px;
    @media (min-width: 768px) {
      font-size: 26px;
    }

    &:hover {
      text-decoration: underline;
      transform: scale(1.5);
      transition: text-decoration ease 2s, transform ease 1s;
    }
  }

  .article1 {
    grid-column: 2/3;
    font-size: 18px;
    line-height: $line_spacing_main;
    margin-top: 35px;
    @media (min-width: 768px) {
      &.a {
        grid-column: 1/2;
      }
      &.b {
        grid-column: 2/3;
      }
      &.c {
        grid-column: 3/4;
      }
    }
    .title2 {
      font-weight: bold;
      margin: 45px px 0;
      @media (min-width: 768px) {
        font-size: 24px;
      }
    }
    .text3 {
      margin: 0 30px;
      font-family: $fonttitle2;
      @media (min-width: 768px) {
        font-size: 20px;
        margin: 0 35px;
      }
    }
  }

  .box_button {
    grid-column: 2/3;
    margin: auto;
    .button2 {
      background-color: #f26002;
      color: #fff;
      border-radius: 22.5px;
      width: 186px;
      height: 45px;
      font-size: 20px;
      line-height: $line_spacing_button;
      font-weight: 500;
      margin: 45px 68px 38px;
      font-family: $fonttitle2;
      @media (min-width: 768px) {
        margin: 60px 0 30px 0;
        width: 210px;
      }
    }
  }
}
.button1 {
  line-height: 0;
  text-align: center;
  margin: auto;
  grid-column: 2/3;
  .button-home {
    background-color: #fff;
    border-radius: 22.5px;
    width: 45px;
    height: 45px;
    transform: translateY(50%);

    .home {
      /*porque narices se me va la animacion para arriba*/
      width: 20.6px;
      height: 24px;
      transform: translateY(50%);
      &:hover {
        animation-duration: 3s;
        animation-name: intro;
        animation-iteration-count: 1;
        @keyframes intro {
          from {
            /*transform: scale(5) rotate(-360deg);*/
            opacity: 0;
            transform: translateY(100%);
          }

          to {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}
